<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>you have required</title>
</head>
<body>
  <h1>You have regidtred!!!</h1>
  <img src="/images/connect.png" alt="png-connect">
  <a href="/logout">Logout</a>
  <script src="javascripts/storage.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="javascripts/index.js"></script>
</body>
</html>

