<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="getList">get products</button>
    <div class="container"></div>

    <div class="cart"></div>

    
    <script src='javascripts/storage.js'></script>
    <script src='javascripts/index.js'></script>
  </body>
</html>
