body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.card_description {
  height: 150px;
  overflow: hidden;
}
.card img {
  height: 262px;
}