body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}
.products {
  display: flex;
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 20px;
  
}
.hidden {
  display: none;
}
.submit {
  margin-top: 20px;
}
.orderForm {
  border: 1px solid black;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 35vw;
}
lable {
  margin: 16px;
  display: flex;
  flex-direction: column;
}


