<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="row">
    <div class="col-6 offset-3 border mt-5">
      <form class="px-4 py-3" name="login" enctype="multipart/form-data">
        <div class="d-flex justify-content-between align-items-center">
          <h1>login:</h1>
          <%if(noSuchUser) {%>
            <h3>Такой пользователь не зарегистрирован!</h3>
          <% } %>
          <button class="btn btn-close"></button>
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
          <input type="email" name="email" required class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
          <input type="password" name="password" required id="exampleDropdownFormPassword1" placeholder=""class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input type="checkbox" name="session" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/form/registration">New around here? Sign up</a>
      <a class="dropdown-item" href="#">Forgot password?</a>
   </div>
  </div> 

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/javascripts/login.js"></script>   
</body>
</html>