<% layout('../layouts/userPanel') -%>
<% script("/javascripts/userPanel/albumForm.js") -%>

<div style="margin: 30px 0;">
  <form name="album" class="rounded formAlbum formAlbum purpleBG content-block createAlbum " id="album" px-5">
    <h3 class="my-5 text-center">Create new album</h3>
    <div class="mb-3">
      <label for="uid" class="form-label"><%= auth.name %></label>
      <input name="uid" type="text" class="form-control"value="<%= auth.uid %>">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Album name:</label>
      <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <div class="tagList">
  
    </div>
    <div class="input-group mb-3 d-flex">
      <input type="text" class="form-control tagInput" placeholder="Tag" aria-label="Tag" aria-describedby="apply-tag">
      <button class="btn btn-info" type="button" id="apply-tag">Button</button>
    </div>
  
    <div class="form-floating mb-3">
      <textarea name="description" class="form-control" placeholder="Leave a comment here"
        id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Description</label>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>