<% layout('../layouts/userPanel') -%>
<% script("/javascripts/userPanel/profile.js") -%>

  <form name="userProfile" class="rounded formAlbum content-block createAlbum purpleBG p-5">
    <h1 class=" text-center">Profile</h1>
    <div class="mb-3">
      <label for="name" class="form-label">Name: </label>
      <input name="name" type="text" class="form-control"value="<%= auth.name %>">
    </div>
    <div class="mb-3 hidden">
      <label for="uid" class="form-label">Uid: </label>
      <input name="uid" type="text" class="form-control"value="<%= auth.uid %>">
    </div>
  
    <div class="mb-3">
      <label for="avatar" class="form-label">Avatar: </label>
      <input name="avatar" type="file" class="form-control" >
    </div>
    
    <div class="mb-3">
      <label for="phone" class="form-label">Phone: </label>
      <input name="phone" type="text" class="form-control">
    </div>
  
    <div class="mb-3">
      <label for="city" class="form-label">City: </label>
      <input name="city" type="text" class="form-control">
    </div>
  
  
  
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
