<h1><%= payload.albumName %></h1>
<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 justify-content-start px-5">

  <!-- <figure class="figure">
    <img src="../public/images/children-g7f8520310_640.jpg" alt="">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure> -->
  
  <!-- <figure class="figure">
    <img src="../public/images/women-ga26ea0c5c_640.jpg" alt="">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure> -->


  <form name="sendPhoto">
    <input type="text" name="uid" value="<%= payload.uid %>">
    <input type="text" name="albumName" value="<%= payload.albumName %>">
    <input type="text" name="albumID" value="<%= payload.albumID %>">
       <div style="color: #868e96; height: 300px; width: 300px">
         <label for="photosInput" class="addPhoto d-flex">
           <div class="pointer d-flex flex-column align-items-center justify-content-center" style="color: #868e96; height: 300px; width: 300px">
             <h3><i class="far fa-plus"></i></h3>
              <h1>Add photo</h1>
           </div>
           <input 
            type="file" multiple 
            id="photosInput" 
            name="uploaded_file" 
            accept=".jpg, .jpeg, .png, .webp" 
            hidden>
         </label>
       </div>
       <button type="submit" class="btn btn-dark my-5 sendFotos">Send to moderate</button>
  </form>
</div>
  