<h1>Album name</h1>
<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 justify-content-start">

  <!-- <figure class="figure">
    <img src="../public/images/children-g7f8520310_640.jpg" alt="">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
  
  <figure class="figure">
    <img src="../public/images/women-ga26ea0c5c_640.jpg" alt="">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure> -->

  <div class="d-flex flex-column align-items-center justify-content-center" style="color: #868e96; height: 300px; width: 300px">
     <h3><i class="far fa-plus"></i></h3>
      <h1>Add photo</h1>
  </div>