@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.nav-list_item {
  display: flex;
}
.nav-list>li {
  width: 100%;
}
/* .nav-list {
  position: relative;
} */
/* .dropdown_categories {
  position: absolute;
  background-color: #2b373d ;
  top: 105px;
  z-index: 1;
} */
.pointer {
  cursor: pointer;
}
/* header .header_content {
  background-image: url('../images/banner_3.jpg');
} */
.hide-details {
  height: 42px;
}
.album-list {
  overflow: hidden;
}
li h5 {
  font-size: 20px;
}
li h4 {
  font-size: 22px;
}
.rotate180 {
  transform: rotate(180deg)
}
i.fa-caret-down {
  transform-origin: center,center;
}
.fa-portal-enter {
  font-size: 15px;
}
input.form-control.tagInput {
  width: auto;
}
.formAlbum {
  padding: 30px;
}
.addPhoto {
  border: 1px solid #585d63;
}
.content {
  background-color: #1a1a22;
  color: #fff;
}
/* COLORS */
.purpleBG {
  background-color: #2b2b3a;
}
.myDarkColor {
  background-color: #1a1a22;
}
.lightDark {
  background-color: #24242e;
}
.formAlbum input, .formAlbum textarea {
  background-color: #45455c;
  border: none;
  color: rgb(255, 252, 228);
}
.content figure {
  cursor: pointer;
}
.title-content {
  margin-bottom: 20px;
  text-align: center;
}
.formAlbum {
  min-width: 320px;
}
.growUp {
  flex: 1 1 400px;
  overflow: hidden;
}
.clientPic {
  position: relative;
}
.replaceIcon, .delIcon {
  opacity: .5;
}
.delIcon:hover, .replaceIcon:hover {
  opacity: 1;
}
.iconImgGroup {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  font-size: 24px;
  top: 10px;
  right: 10px
}
.fitImg {
  width: 100%; /* Ширина изображений */
 height: 100%; /* Высота изображении */
 object-fit: cover; /* Вписываем фотографию в область */
}
.userData {
  max-width: 100%;
  background-color: #45455c;
  flex-grow: 1;
  margin: 30px
}
.avatarCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userProfile {
  margin: 30px 0;
  width: 100%
}
.details-profile {
  border-radius: 10px 10px 0 0;
  background-color: #2b2b3a;
  height: 100%;
  padding: 30px;
}
.sidebar {
  overflow: hidden;
}
.steer {
  position: absolute;
  z-index: 99;
  top: 45px;
  right: 5px;
  padding: 5px;
  background-color: #fff;
  color:#46465e;
  border-radius: 3px;
  font-size: 14px;
  width: 110px;
}
.steer-tail {
  transform-origin: center, center;
  position: absolute;
  top: -7px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
}
.steer-replace {
  opacity: 0;
}
.replaceIcon:hover ~ .steer-replace {
  opacity: .5;
}
.steer-delete {
  right: 30px;
  opacity: 0;
}
.delIcon:hover ~ .steer-delete {
  opacity: .5;
}