<form name="orderForm">
<lable>
  user name
  <input type="text" name="userName" placeholder="name">
</lable>
user last name
<lable>
  city
  <input type="text" name="city" placeholder="city">
</lable>

<div class="deliveryMethod">
  <h3>check the delivery method:</h3>
  <lable>
    New Post
    <input type="radio" name="deliveryMethods" value="newPost" checked>
  </lable>
  <lable>
    Intime
    <input type="radio" name="deliveryMethods" value="intime">
  </lable>
  <lable>
    Ukrpost
    <input type="radio" name="deliveryMethods" value="ukrpost">
  </lable>
</div >

 <div class="address">
    <select name="newPost" class="newPost delivery">
      <option value="1">отделение новой почты 1</option>
      <option value="2">отделение новой почты 2</option>
      <option value="3">отделение новой почты 3</option>
    </select>

    <select name="intime" class="intime delivery hidden ">
      <option value="1">отделение intime 1</option>
      <option value="2">отделение intime 2</option>
      <option value="3">отделение intime 3</option>
    </select>

    <select name="ukrpost" class="ukrpost delivery hidden">
      <option value="1">отделение ukrpost 1</option>
      <option value="2">отделение ukrpost 2</option>
      <option value="3">отделение ukrpost 3</option>
    </select>
 </div>


<button class="submit" type="submit">SUBMIT</button>
</form>