<form name="orderForm" class="orderForm">
<lable>
  user name
  <input type="text" name="userName" placeholder="name">
</lable>

<lable>
  user last name
  <input type="text" name="userLastname" placeholder="last name">
</lable>

<lable>
  city
  <input type="text" name="city" placeholder="city">
</lable>

<div class="deliveryMethod">
  <h3>check the delivery method:</h3>
  <lable>
    New Post
    <input type="radio" name="deliveryMethods" value="newPost" checked>
  </lable>
  <lable>
    Intime
    <input type="radio" name="deliveryMethods" value="intime">
  </lable>
  <lable>
    Ukrpost
    <input type="radio" name="deliveryMethods" value="ukrpost">
  </lable>
</div >

 <div class="address">
    <select name="methodAddress" class="newPost">
      <option class="delivery" value="0">выбирете отделение</option>
      <option class="newPost delivery" value="1">отделение новой почты 1</option>
      <option class="newPost delivery" value="2">отделение новой почты 2</option>
      <option class="newPost delivery" value="3">отделение новой почты 3</option>
     
      <option class="intime delivery hidden" value="11">отделение intime 11</option>
      <option class="intime delivery hidden" value="22">отделение intime 22</option>
      <option class="intime delivery hidden" value="33">отделение intime 33</option>

      <option class="ukrpost delivery hidden" value="444">отделение укр почты 444</option>
      <option class="ukrpost delivery hidden" value="555">отделение укр почты 555</option>
      <option class="ukrpost delivery hidden" value="667">отделение укр почты 6667</option>
    </select>

 </div>


<button class="submit" type="submit">SUBMIT</button>
</form>