<section class="products">
  <div class="card" data-id="1">
    <h2>Шуба</h2>
    <button class="toStore" >в корзину</button>
    <button class="inc">increase +</button>
    <button class="dec">decrease -</button>
    <button class="del">delete </button>
  </div>
  <div class="card" data-id="2">
    <h2>трусы с капюшоном</h2>
    <button class="toStore" >в корзину</button>
    <button class="inc">increase +</button>
    <button class="dec">decrease -</button>
    <button class="del">delete </button>
  </div>
  <div class="card" data-id="3">
    <h2>носки с подтяжками</h2>
    <button class="toStore">в корзину</button>
    <button class="inc">increase +</button>
    <button class="dec">decrease -</button>
    <button class="del">delete </button>
  </div>
</section>
<a  href="/order">
  <button class="orderBtn">Оформить заказ</button>
</a>