<section class="products">
  <div class="card">
    <h2>Шуба</h2>
    <button class="toStore" data-id="1">в корзину</button>
  </div>
  <div class="card">
    <h2>трусы с капюшоном</h2>
    <button class="toStore" data-id="2">в корзину</button>
  </div>
  <div class="card">
    <h2>носки с подтяжками</h2>
    <button class="toStore" data-id="3">в корзину</button>
  </div>
</section>
<a  href="/order">
  <button class="orderBtn">Оформить заказ</button>
</a>