<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>prod</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="topSide-prod">
    <h1>PRODUCTS</h1>
    <button class="btn btn-close">x</button>
  </div>
  <button class="btn btn-action">get products</button>
  <div class="containterProd">


  </div>
  <script src="./general.js"></script>
  <script src="./prod.js"></script>
</body>
</html>